In [30]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

import seaborn as sns

In [31]:
flight_data  = pd.read_csv('satisfaction_2015.csv')
flight_data.head()

,id,satisfaction_v2,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,117135,satisfied,Male,disloyal Customer,56,Personal Travel,Eco,369,0,2,...,3,3,1,5,3,3,4,3,0,0.0
1,72091,satisfied,Male,disloyal Customer,49,Personal Travel,Eco,2486,0,2,...,3,2,1,1,4,4,3,2,0,0.0
2,29663,satisfied,Male,disloyal Customer,55,Personal Travel,Eco,1448,0,3,...,3,3,3,5,3,2,3,3,0,0.0
3,81849,satisfied,Female,disloyal Customer,36,Personal Travel,Eco,1501,0,4,...,4,4,5,4,5,5,5,4,0,0.0
4,83693,satisfied,Male,disloyal Customer,55,Personal Travel,Eco,577,0,5,...,3,3,3,4,5,3,4,3,0,0.0

In [32]:
# checking columns for n/a's
flight_data["satisfaction_v2"].value_counts(dropna = False)
flight_data["Gender"].value_counts(dropna = False)
flight_data["Customer Type"].value_counts(dropna = False)
flight_data["Age"].describe(include = 'all')
flight_data["Type of Travel"].value_counts(dropna = False)
flight_data["Class"].value_counts(dropna = False)

# looking at statistics of flight distance
flight_data["Flight Distance"].describe(include = 'all')

count    129880.000000
mean       1190.316392
std         997.452477
min          31.000000
25%         414.000000
50%         844.000000
75%        1744.000000
max        4983.000000
Name: Flight Distance, dtype: float64

In [33]:
flight_data['Inflight wifi service'] = flight_data['Inflight wifi service'].replace(0, pd.NA)
median_value = flight_data['Inflight wifi service'].median()
median_value = int(median_value)
flight_data['Inflight wifi service'] = flight_data['Inflight wifi service'].fillna(median_value)
flight_data["Inflight wifi service"].value_counts(dropna = False)

Inflight wifi service
3    36101
2    32320
4    24775
1    22328
5    14356
Name: count, dtype: int64

In [34]:
flight_data['Departure/Arrival time convenient'] = flight_data['Departure/Arrival time convenient'].replace(0, pd.NA)
median_value = flight_data['Departure/Arrival time convenient'].median()
median_value = int(median_value)
flight_data['Departure/Arrival time convenient'] = flight_data['Departure/Arrival time convenient'].fillna(median_value)
flight_data["Departure/Arrival time convenient"].value_counts(dropna = False)

Departure/Arrival time convenient
4    31880
3    29059
5    27998
2    21534
1    19409
Name: count, dtype: int64

In [35]:
flight_data['Ease of Online booking'] = flight_data['Ease of Online booking'].replace(0, pd.NA)
median_value = flight_data['Ease of Online booking'].median()
median_value = int(median_value)
flight_data['Ease of Online booking'] = flight_data['Ease of Online booking'].fillna(median_value)
flight_data["Ease of Online booking"].value_counts(dropna = False)

Ease of Online booking
3    36075
2    30051
4    24444
1    21886
5    17424
Name: count, dtype: int64

In [36]:
flight_data['Gate location'] = flight_data['Gate location'].replace(0, pd.NA)
median_value = flight_data['Gate location'].median()
median_value = int(median_value)
flight_data['Gate location'] = flight_data['Gate location'].fillna(median_value)
flight_data["Gate location"].value_counts(dropna = False)

Gate location
3    35718
4    30466
2    24296
1    21991
5    17409
Name: count, dtype: int64

In [37]:
flight_data['Food and drink'] = flight_data['Food and drink'].replace(0, pd.NA)
median_value = flight_data['Food and drink'].median()
median_value = int(median_value)
flight_data['Food and drink'] = flight_data['Food and drink'].fillna(median_value)
flight_data["Food and drink"].value_counts(dropna = False)

Food and drink
4    30563
5    27957
3    27926
2    27383
1    16051
Name: count, dtype: int64

In [38]:
flight_data['Online boarding'] = flight_data['Online boarding'].replace(0, pd.NA)
median_value = flight_data['Online boarding'].median()
median_value = int(median_value)
flight_data['Online boarding'] = flight_data['Online boarding'].fillna(median_value)
flight_data["Online boarding"].value_counts(dropna = False)

Online boarding
4    41548
3    27117
5    26020
2    21934
1    13261
Name: count, dtype: int64

In [39]:
flight_data['Seat comfort'] = flight_data['Seat comfort'].replace(0, pd.NA)
median_value = flight_data['Seat comfort'].median()
median_value = int(median_value)
flight_data['Seat comfort'] = flight_data['Seat comfort'].fillna(median_value)
flight_data["Seat comfort"].value_counts(dropna = False)

Seat comfort
4    39757
5    33158
3    23328
2    18529
1    15108
Name: count, dtype: int64

In [40]:
flight_data['Inflight entertainment'] = flight_data['Inflight entertainment'].replace(0, pd.NA)
median_value = flight_data['Inflight entertainment'].median()
median_value = int(median_value)
flight_data['Inflight entertainment'] = flight_data['Inflight entertainment'].fillna(median_value)
flight_data["Inflight entertainment"].value_counts(dropna = False)

Inflight entertainment
4    36809
5    31544
3    23884
2    21968
1    15675
Name: count, dtype: int64

In [41]:
flight_data['On-board service'] = flight_data['On-board service'].replace(0, pd.NA)
median_value = flight_data['On-board service'].median()
median_value = int(median_value)
flight_data['On-board service'] = flight_data['On-board service'].fillna(median_value)
flight_data["On-board service"].value_counts(dropna = False)

On-board service
4    38708
5    29492
3    28542
2    18351
1    14787
Name: count, dtype: int64

In [42]:
flight_data['Leg room service'] = flight_data['Leg room service'].replace(0, pd.NA)
median_value = flight_data['Leg room service'].median()
median_value = int(median_value)
flight_data['Leg room service'] = flight_data['Leg room service'].fillna(median_value)
flight_data["Leg room service"].value_counts(dropna = False)

Leg room service
4    36484
5    30905
3    25056
2    24540
1    12895
Name: count, dtype: int64

In [43]:
flight_data['Baggage handling'] = flight_data['Baggage handling'].replace(0, pd.NA)
median_value = flight_data['Baggage handling'].median()
median_value = int(median_value)
flight_data['Baggage handling'] = flight_data['Baggage handling'].fillna(median_value)
flight_data["Baggage handling"].value_counts(dropna = False)

Baggage handling
4    46761
5    33878
3    25851
2    14362
1     9028
Name: count, dtype: int64

In [44]:
flight_data['Checkin service'] = flight_data['Checkin service'].replace(0, pd.NA)
median_value = flight_data['Checkin service'].median()
median_value = int(median_value)
flight_data['Checkin service'] = flight_data['Checkin service'].fillna(median_value)
flight_data["Checkin service"].value_counts(dropna = False)

Checkin service
4    36333
3    35454
5    25883
1    16108
2    16102
Name: count, dtype: int64

In [45]:
flight_data['Inflight service'] = flight_data['Inflight service'].replace(0, pd.NA)
median_value = flight_data['Inflight service'].median()
median_value = int(median_value)
flight_data['Inflight service'] = flight_data['Inflight service'].fillna(median_value)
flight_data["Inflight service"].value_counts(dropna = False)

Inflight service
4    47328
5    34066
3    25316
2    14308
1     8862
Name: count, dtype: int64

In [46]:

flight_data['Cleanliness'] = flight_data['Cleanliness'].replace(0, pd.NA)
median_value = flight_data['Cleanliness'].median()
median_value = int(median_value)
flight_data['Cleanliness'] = flight_data['Cleanliness'].fillna(median_value)
flight_data["Cleanliness"].value_counts(dropna = False)

Cleanliness
4    33969
3    30653
5    28416
2    20113
1    16729
Name: count, dtype: int64

In [47]:
flight_data["Departure Delay in Minutes"].describe(include = 'all')

count    129880.000000
mean         14.713713
std          38.071126
min           0.000000
25%           0.000000
50%           0.000000
75%          12.000000
max        1592.000000
Name: Departure Delay in Minutes, dtype: float64

In [48]:

median_value = flight_data['Arrival Delay in Minutes'].median()
median_value = int(median_value)
flight_data['Arrival Delay in Minutes'] = flight_data['Arrival Delay in Minutes'].fillna(median_value)
flight_data["Arrival Delay in Minutes"].describe(include = 'all')

count    129880.000000
mean         15.045465
std          38.416353
min           0.000000
25%           0.000000
50%           0.000000
75%          13.000000
max        1584.000000
Name: Arrival Delay in Minutes, dtype: float64

In [49]:
flight_data = pd.get_dummies(flight_data, columns=['Gender'])
flight_data = pd.get_dummies(flight_data, columns=['Customer Type'])
flight_data = pd.get_dummies(flight_data, columns=['Type of Travel'])
flight_data = pd.get_dummies(flight_data, columns=['Class'])

In [50]:
missing_values = flight_data.isna().sum()

print("Missing values in the DataFrame:")
print(missing_values)

Missing values in the DataFrame:
id                                   0
satisfaction_v2                      0
Age                                  0
Flight Distance                      0
Inflight wifi service                0
Departure/Arrival time convenient    0
Ease of Online booking               0
Gate location                        0
Food and drink                       0
Online boarding                      0
Seat comfort                         0
Inflight entertainment               0
On-board service                     0
Leg room service                     0
Baggage handling                     0
Checkin service                      0
Inflight service                     0
Cleanliness                          0
Departure Delay in Minutes           0
Arrival Delay in Minutes             0
Gender_Female                        0
Gender_Male                          0
Customer Type_Loyal Customer         0
Customer Type_disloyal Customer      0
Type of Travel_Business travel       0
Type of Travel_Personal Travel       0
Class_Business                       0
Class_Eco                            0
Class_Eco Plus                       0
dtype: int64

In [51]:
# Creating a logistic model with all features 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report


# Step 4: Split the dataset into training and testing sets
X = flight_data.drop('satisfaction_v2', axis=1) # Features
y = flight_data['satisfaction_v2'] # Target variable
X_train, X_test, y_train, y_test = train_test_split(X, y,  random_state=None)

# Step 5: Create a logistic regression model
model = LogisticRegression()

# Step 6: Train the model on the training data
result = model.fit(X_train, y_train)

# Step 7: Evaluate the model's performance on the testing data
y_pred = model.predict(X_test)

# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

# Get classification report
print(classification_report(y_test, y_pred))

Accuracy: 0.6311980289497998
                         precision    recall  f1-score   support

neutral or dissatisfied       0.64      0.77      0.70     18355
              satisfied       0.60      0.45      0.51     14115

               accuracy                           0.63     32470
              macro avg       0.62      0.61      0.61     32470
           weighted avg       0.63      0.63      0.62     32470

In [52]:
# 1. Coefficients
coefficients = model.coef_
print("Coefficients:", coefficients)

# 2. Intercept
intercept = model.intercept_
print("Intercept:", intercept)

# 3. Model Parameters
params = model.get_params()
print("Model Parameters:", params)

Coefficients: [[-5.79002775e-06 -9.76767268e-03  5.41879759e-04  1.97001312e-03
  -2.36935313e-03  4.58416780e-04 -1.87030488e-03  1.00987009e-04
   3.11899958e-03  1.22086583e-03  1.81133879e-03  1.00606316e-03
   9.62151456e-04  5.85430953e-05  2.63393274e-04 -2.39632261e-05
   9.62284185e-04 -1.13906142e-03 -3.90417856e-03 -3.55733610e-04
  -2.57074862e-04 -7.93103324e-05 -5.33498140e-04  1.00772681e-03
  -1.62053528e-03  1.33736968e-03 -1.73517677e-03 -2.15001384e-04]]
Intercept: [-0.00061281]
Model Parameters: {'C': 1.0, 'class_weight': None, 'dual': False, 'fit_intercept': True, 'intercept_scaling': 1, 'l1_ratio': None, 'max_iter': 100, 'multi_class': 'auto', 'n_jobs': None, 'penalty': 'l2', 'random_state': None, 'solver': 'lbfgs', 'tol': 0.0001, 'verbose': 0, 'warm_start': False}

In [53]:
import numpy as np
# Get coefficient estimates
coefficients = model.coef_[0]

# Get feature names
feature_names = X_train.columns

# Create a DataFrame to display coefficients
coef_df = pd.DataFrame({'Feature': feature_names, 'Coefficient': coefficients})

# Sort the DataFrame by absolute coefficient values
coef_df['Abs_Coefficient'] = np.abs(coef_df['Coefficient'])

# Display the DataFrame
print(coef_df)

                              Feature  Coefficient  Abs_Coefficient
0                                  id    -0.000006         0.000006
1                                 Age    -0.009768         0.009768
2                     Flight Distance     0.000542         0.000542
3               Inflight wifi service     0.001970         0.001970
4   Departure/Arrival time convenient    -0.002369         0.002369
5              Ease of Online booking     0.000458         0.000458
6                       Gate location    -0.001870         0.001870
7                      Food and drink     0.000101         0.000101
8                     Online boarding     0.003119         0.003119
9                        Seat comfort     0.001221         0.001221
10             Inflight entertainment     0.001811         0.001811
11                   On-board service     0.001006         0.001006
12                   Leg room service     0.000962         0.000962
13                   Baggage handling     0.000059         0.000059
14                    Checkin service     0.000263         0.000263
15                   Inflight service    -0.000024         0.000024
16                        Cleanliness     0.000962         0.000962
17         Departure Delay in Minutes    -0.001139         0.001139
18           Arrival Delay in Minutes    -0.003904         0.003904
19                      Gender_Female    -0.000356         0.000356
20                        Gender_Male    -0.000257         0.000257
21       Customer Type_Loyal Customer    -0.000079         0.000079
22    Customer Type_disloyal Customer    -0.000533         0.000533
23     Type of Travel_Business travel     0.001008         0.001008
24     Type of Travel_Personal Travel    -0.001621         0.001621
25                     Class_Business     0.001337         0.001337
26                          Class_Eco    -0.001735         0.001735
27                     Class_Eco Plus    -0.000215         0.000215

In [54]:
# Giving features a score to decide what to include in our model
from sklearn.ensemble import RandomForestClassifier

# Train a random forest classifier
rf_model = RandomForestClassifier(n_estimators=100, random_state=42)
rf_model.fit(X_train, y_train)

# Get feature importances
feature_importances = rf_model.feature_importances_

# Sort feature importances in descending order
indices = feature_importances.argsort()[::-1]

# Print feature importance scores
for i in range(len(indices)):
    print(f"{X.columns[indices[i]]}: {feature_importances[indices[i]]}")

Online boarding: 0.15953299579831448
Inflight wifi service: 0.11102418312649105
Class_Business: 0.07807531316428175
Type of Travel_Business travel: 0.06282214259094579
Type of Travel_Personal Travel: 0.059023305706889545
Inflight entertainment: 0.04880899123351852
Seat comfort: 0.048085433403351543
Class_Eco: 0.03445159073460067
Flight Distance: 0.03300506750544465
id: 0.031438976454144396
Leg room service: 0.030597839564214264
Baggage handling: 0.03057769959519193
Age: 0.028830608737652037
Ease of Online booking: 0.028145797089831306
Customer Type_disloyal Customer: 0.0267078994951462
On-board service: 0.026625743695749812
Checkin service: 0.024855912711940594
Cleanliness: 0.02416741744709374
Customer Type_Loyal Customer: 0.02265623223151311
Inflight service: 0.02248850713587442
Gate location: 0.014874073143208549
Departure/Arrival time convenient: 0.01307112729628065
Arrival Delay in Minutes: 0.011997815681564567
Food and drink: 0.01028708723256831
Departure Delay in Minutes: 0.010168782397758624
Gender_Female: 0.003144574063839857
Gender_Male: 0.0028661769287658574
Class_Eco Plus: 0.0016687058338238723

In [59]:
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression  


model = LogisticRegression(max_iter=1000)  # Increase max_iter

# Select features with importance scores above a threshold
threshold = 0.03
selected_features = X.columns[feature_importances > threshold]
X_selected = X[selected_features]

# Train model using selected features
model.fit(X_selected, y)

# Evaluate model performance using cross-validation
cv_scores = cross_val_score(model, X_selected, y, cv=5) # Choose appropriate number of folds
mean_cv_score = np.mean(cv_scores)
mean_cv_score # the score barely went up

0.6342777948875885

In [60]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, classification_report


X = flight_data.drop('satisfaction_v2', axis=1) # Using all features
y = flight_data['satisfaction_v2'] # Target variable
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)


dt_model = DecisionTreeClassifier(random_state=42)
dt_model.fit(X_train, y_train)


y_pred = dt_model.predict(X_test)

# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

# Get classification report
print(classification_report(y_test, y_pred)) 

# Very good score

Accuracy: 0.9395441946412073
                         precision    recall  f1-score   support

neutral or dissatisfied       0.95      0.94      0.95     18318
              satisfied       0.93      0.93      0.93     14152

               accuracy                           0.94     32470
              macro avg       0.94      0.94      0.94     32470
           weighted avg       0.94      0.94      0.94     32470

In [61]:
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeClassifier

# Using cross validation to shed off some of the features
threshold = 0.03
selected_features = X.columns[feature_importances > threshold]
X_selected = X[selected_features]

# Create decision tree classifier
dt_model = DecisionTreeClassifier(random_state=42)

# Perform cross-validation on the selected features
cv_scores = cross_val_score(dt_model, X_selected, y, cv=5) 

# Calculate mean cross-validation score
mean_cv_score = cv_scores.mean()

print("Mean Cross-Validation Score:", mean_cv_score)

Mean Cross-Validation Score: 0.7271096396673853

In [ ]:
# Lower score need to look at number of folds and threshold