In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

import seaborn as sns

In [2]:
flight_data  = pd.read_csv('satisfaction_2015.csv')

In [3]:
flight_data.head()

,id,satisfaction_v2,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,117135,satisfied,Male,disloyal Customer,56,Personal Travel,Eco,369,0,2,...,3,3,1,5,3,3,4,3,0,0.0
1,72091,satisfied,Male,disloyal Customer,49,Personal Travel,Eco,2486,0,2,...,3,2,1,1,4,4,3,2,0,0.0
2,29663,satisfied,Male,disloyal Customer,55,Personal Travel,Eco,1448,0,3,...,3,3,3,5,3,2,3,3,0,0.0
3,81849,satisfied,Female,disloyal Customer,36,Personal Travel,Eco,1501,0,4,...,4,4,5,4,5,5,5,4,0,0.0
4,83693,satisfied,Male,disloyal Customer,55,Personal Travel,Eco,577,0,5,...,3,3,3,4,5,3,4,3,0,0.0

In [4]:
flight_data.shape

(129880, 24)

In [5]:
# checking columns for n/a's
flight_data["satisfaction_v2"].value_counts(dropna = False)
flight_data["Gender"].value_counts(dropna = False)
flight_data["Customer Type"].value_counts(dropna = False)
flight_data["Age"].describe(include = 'all')
flight_data["Type of Travel"].value_counts(dropna = False)
flight_data["Class"].value_counts(dropna = False)

# looking at statistics of flight distance
flight_data["Flight Distance"].describe(include = 'all')

count    129880.000000
mean       1190.316392
std         997.452477
min          31.000000
25%         414.000000
50%         844.000000
75%        1744.000000
max        4983.000000
Name: Flight Distance, dtype: float64

In [6]:
flight_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129880 entries, 0 to 129879
Data columns (total 24 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   id                                 129880 non-null  int64
 1   satisfaction_v2                    129880 non-null  object
 2   Gender                             129880 non-null  object
 3   Customer Type                      129880 non-null  object
 4   Age                                129880 non-null  int64
 5   Type of Travel                     129880 non-null  object
 6   Class                              129880 non-null  object
 7   Flight Distance                    129880 non-null  int64
 8   Inflight wifi service              129880 non-null  int64
 9   Departure/Arrival time convenient  129880 non-null  int64
 10  Ease of Online booking             129880 non-null  int64
 11  Gate location                      129880 non-null  int64
 12  Food and drink                     129880 non-null  int64
 13  Online boarding                    129880 non-null  int64
 14  Seat comfort                       129880 non-null  int64
 15  Inflight entertainment             129880 non-null  int64
 16  On-board service                   129880 non-null  int64
 17  Leg room service                   129880 non-null  int64
 18  Baggage handling                   129880 non-null  int64
 19  Checkin service                    129880 non-null  int64
 20  Inflight service                   129880 non-null  int64
 21  Cleanliness                        129880 non-null  int64
 22  Departure Delay in Minutes         129880 non-null  int64
 23  Arrival Delay in Minutes           129487 non-null  float64
dtypes: float64(1), int64(18), object(5)
memory usage: 23.8+ MB

In [7]:
# Checking for N/As
flight_data['satisfaction_v2'] = flight_data['satisfaction_v2'].replace({'satisfied': 1, 'neutral or dissatisfied': 0})

flight_data["satisfaction_v2"].value_counts(dropna = False)

satisfaction_v2
0    73452
1    56428
Name: count, dtype: int64

In [8]:
flight_data["Gender"].value_counts(dropna = False)

Gender
Female    65899
Male      63981
Name: count, dtype: int64

In [9]:
flight_data["Customer Type"].value_counts(dropna = False)

Customer Type
Loyal Customer       106100
disloyal Customer     23780
Name: count, dtype: int64

In [10]:
flight_data["Age"].describe(include = 'all')

count    129880.000000
mean         39.427957
std          15.119360
min           7.000000
25%          27.000000
50%          40.000000
75%          51.000000
max          85.000000
Name: Age, dtype: float64

In [11]:
flight_data["Type of Travel"].value_counts(dropna = False)

Type of Travel
Business travel    89693
Personal Travel    40187
Name: count, dtype: int64

In [12]:
# looking at statistics of flight distance
flight_data["Flight Distance"].describe(include = 'all')

count    129880.000000
mean       1190.316392
std         997.452477
min          31.000000
25%         414.000000
50%         844.000000
75%        1744.000000
max        4983.000000
Name: Flight Distance, dtype: float64

In [13]:
flight_data['Inflight wifi service'] = flight_data['Inflight wifi service'].replace(0, pd.NA)
median_value = flight_data['Inflight wifi service'].median()
median_value = int(median_value)
flight_data['Inflight wifi service'] = flight_data['Inflight wifi service'].fillna(median_value)
flight_data["Inflight wifi service"].value_counts(dropna = False)

Inflight wifi service
3    36101
2    32320
4    24775
1    22328
5    14356
Name: count, dtype: int64

In [14]:
flight_data['Departure/Arrival time convenient'] = flight_data['Departure/Arrival time convenient'].replace(0, pd.NA)
median_value = flight_data['Departure/Arrival time convenient'].median()
median_value = int(median_value)
flight_data['Departure/Arrival time convenient'] = flight_data['Departure/Arrival time convenient'].fillna(median_value)
flight_data["Departure/Arrival time convenient"].value_counts(dropna = False)

Departure/Arrival time convenient
4    31880
3    29059
5    27998
2    21534
1    19409
Name: count, dtype: int64

In [15]:
flight_data['Ease of Online booking'] = flight_data['Ease of Online booking'].replace(0, pd.NA)
median_value = flight_data['Ease of Online booking'].median()
median_value = int(median_value)
flight_data['Ease of Online booking'] = flight_data['Ease of Online booking'].fillna(median_value)
flight_data["Ease of Online booking"].value_counts(dropna = False)

Ease of Online booking
3    36075
2    30051
4    24444
1    21886
5    17424
Name: count, dtype: int64

In [16]:
flight_data['Gate location'] = flight_data['Gate location'].replace(0, pd.NA)
median_value = flight_data['Gate location'].median()
median_value = int(median_value)
flight_data['Gate location'] = flight_data['Gate location'].fillna(median_value)
flight_data["Gate location"].value_counts(dropna = False)

Gate location
3    35718
4    30466
2    24296
1    21991
5    17409
Name: count, dtype: int64

In [17]:
flight_data['Food and drink'] = flight_data['Food and drink'].replace(0, pd.NA)
median_value = flight_data['Food and drink'].median()
median_value = int(median_value)
flight_data['Food and drink'] = flight_data['Food and drink'].fillna(median_value)
flight_data["Food and drink"].value_counts(dropna = False)

Food and drink
4    30563
5    27957
3    27926
2    27383
1    16051
Name: count, dtype: int64

In [18]:
flight_data['Online boarding'] = flight_data['Online boarding'].replace(0, pd.NA)
median_value = flight_data['Online boarding'].median()
median_value = int(median_value)
flight_data['Online boarding'] = flight_data['Online boarding'].fillna(median_value)
flight_data["Online boarding"].value_counts(dropna = False)

Online boarding
4    41548
3    27117
5    26020
2    21934
1    13261
Name: count, dtype: int64

In [19]:
flight_data['Seat comfort'] = flight_data['Seat comfort'].replace(0, pd.NA)
median_value = flight_data['Seat comfort'].median()
median_value = int(median_value)
flight_data['Seat comfort'] = flight_data['Seat comfort'].fillna(median_value)
flight_data["Seat comfort"].value_counts(dropna = False)

Seat comfort
4    39757
5    33158
3    23328
2    18529
1    15108
Name: count, dtype: int64

In [20]:
flight_data['Inflight entertainment'] = flight_data['Inflight entertainment'].replace(0, pd.NA)
median_value = flight_data['Inflight entertainment'].median()
median_value = int(median_value)
flight_data['Inflight entertainment'] = flight_data['Inflight entertainment'].fillna(median_value)
flight_data["Inflight entertainment"].value_counts(dropna = False)

Inflight entertainment
4    36809
5    31544
3    23884
2    21968
1    15675
Name: count, dtype: int64

In [21]:
flight_data['On-board service'] = flight_data['On-board service'].replace(0, pd.NA)
median_value = flight_data['On-board service'].median()
median_value = int(median_value)
flight_data['On-board service'] = flight_data['On-board service'].fillna(median_value)
flight_data["On-board service"].value_counts(dropna = False)

On-board service
4    38708
5    29492
3    28542
2    18351
1    14787
Name: count, dtype: int64

In [22]:
flight_data['Leg room service'] = flight_data['Leg room service'].replace(0, pd.NA)
median_value = flight_data['Leg room service'].median()
median_value = int(median_value)
flight_data['Leg room service'] = flight_data['Leg room service'].fillna(median_value)
flight_data["Leg room service"].value_counts(dropna = False)

Leg room service
4    36484
5    30905
3    25056
2    24540
1    12895
Name: count, dtype: int64

In [23]:
flight_data['Baggage handling'] = flight_data['Baggage handling'].replace(0, pd.NA)
median_value = flight_data['Baggage handling'].median()
median_value = int(median_value)
flight_data['Baggage handling'] = flight_data['Baggage handling'].fillna(median_value)
flight_data["Baggage handling"].value_counts(dropna = False)

Baggage handling
4    46761
5    33878
3    25851
2    14362
1     9028
Name: count, dtype: int64

In [24]:
flight_data['Checkin service'] = flight_data['Checkin service'].replace(0, pd.NA)
median_value = flight_data['Checkin service'].median()
median_value = int(median_value)
flight_data['Checkin service'] = flight_data['Checkin service'].fillna(median_value)
flight_data["Checkin service"].value_counts(dropna = False)

Checkin service
4    36333
3    35454
5    25883
1    16108
2    16102
Name: count, dtype: int64

In [25]:
flight_data['Inflight service'] = flight_data['Inflight service'].replace(0, pd.NA)
median_value = flight_data['Inflight service'].median()
median_value = int(median_value)
flight_data['Inflight service'] = flight_data['Inflight service'].fillna(median_value)
flight_data["Inflight service"].value_counts(dropna = False)

Inflight service
4    47328
5    34066
3    25316
2    14308
1     8862
Name: count, dtype: int64

In [26]:
flight_data['Cleanliness'] = flight_data['Cleanliness'].replace(0, pd.NA)
median_value = flight_data['Cleanliness'].median()
median_value = int(median_value)
flight_data['Cleanliness'] = flight_data['Cleanliness'].fillna(median_value)
flight_data["Cleanliness"].value_counts(dropna = False)

Cleanliness
4    33969
3    30653
5    28416
2    20113
1    16729
Name: count, dtype: int64

In [27]:



flight_data["Departure Delay in Minutes"].describe(include = 'all')

median_value = flight_data['Arrival Delay in Minutes'].median()
median_value = int(median_value)
flight_data['Arrival Delay in Minutes'] = flight_data['Arrival Delay in Minutes'].fillna(median_value)
flight_data["Arrival Delay in Minutes"].describe(include = 'all')

flight_data = pd.get_dummies(flight_data, columns=['Gender'])
flight_data = pd.get_dummies(flight_data, columns=['Customer Type'])
flight_data = pd.get_dummies(flight_data, columns=['Type of Travel'])
flight_data = pd.get_dummies(flight_data, columns=['Class'])
missing_values = flight_data.isna().sum()

print("Missing values in the DataFrame:")
print(missing_values)

# Drop id
# Drop a column (e.g., column 'B')
flight_data = flight_data.drop(columns=['id'])
flight_data['Gender_Female'] = flight_data['Gender_Female'].astype(int)
flight_data['Gender_Male'] = flight_data['Gender_Male'].astype(int)
flight_data['Customer Type_Loyal Customer'] = flight_data['Customer Type_Loyal Customer'].astype(int)
flight_data['Customer Type_disloyal Customer'] = flight_data['Customer Type_disloyal Customer'].astype(int)
flight_data['Type of Travel_Business travel'] = flight_data['Type of Travel_Business travel'].astype(int)
flight_data['Type of Travel_Personal Travel'] = flight_data['Type of Travel_Personal Travel'].astype(int)
flight_data['Class_Business'] = flight_data['Class_Business'].astype(int)
flight_data['Class_Eco'] = flight_data['Class_Eco'].astype(int)
flight_data['Class_Eco Plus'] = flight_data['Class_Eco Plus'].astype(int)

Missing values in the DataFrame:
id                                   0
satisfaction_v2                      0
Age                                  0
Flight Distance                      0
Inflight wifi service                0
Departure/Arrival time convenient    0
Ease of Online booking               0
Gate location                        0
Food and drink                       0
Online boarding                      0
Seat comfort                         0
Inflight entertainment               0
On-board service                     0
Leg room service                     0
Baggage handling                     0
Checkin service                      0
Inflight service                     0
Cleanliness                          0
Departure Delay in Minutes           0
Arrival Delay in Minutes             0
Gender_Female                        0
Gender_Male                          0
Customer Type_Loyal Customer         0
Customer Type_disloyal Customer      0
Type of Travel_Business travel       0
Type of Travel_Personal Travel       0
Class_Business                       0
Class_Eco                            0
Class_Eco Plus                       0
dtype: int64

In [35]:
flight_data.head()

,satisfaction_v2,Age,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,...,Arrival Delay in Minutes,Gender_Female,Gender_Male,Customer Type_Loyal Customer,Customer Type_disloyal Customer,Type of Travel_Business travel,Type of Travel_Personal Travel,Class_Business,Class_Eco,Class_Eco Plus
0,1,56,369,3,2,3,4,3,4,3,...,0.0,0,1,0,1,0,1,0,1,0
1,1,49,2486,3,2,1,4,2,1,3,...,0.0,0,1,0,1,0,1,0,1,0
2,1,55,1448,3,3,3,4,3,4,3,...,0.0,0,1,0,1,0,1,0,1,0
3,1,36,1501,3,4,3,3,4,4,4,...,0.0,1,0,0,1,0,1,0,1,0
4,1,55,577,3,5,3,3,3,5,3,...,0.0,0,1,0,1,0,1,0,1,0

In [29]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegressionCV
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score

In [42]:
# Define predictors (X) and response (y) using indexing
X = flight_data.iloc[:, 2:19]  # Select all columns except the last one as predictors
y = flight_data["satisfaction_v2"]   # Select the last column as the response variable
flight_data['satisfaction_v2'] = flight_data['satisfaction_v2'].astype(int)  

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

# Scale the features (not always necessary but can improve performance)
# Standardize the predictor variables for interpretation
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Create and fit Lasso logistic regression model using cross-validation
lasso_model = LogisticRegressionCV(penalty='l1', solver='liblinear', cv=5)
lasso_model.fit(X_train_scaled, y_train)

# Print the optimal value of C (inverse of regularization strength, equivalent to lambda in glmnet)
print("Optimal value of C:", lasso_model.C_[0])

# Extract coefficients of the selected variables
selected_coefficients = lasso_model.coef_

# Print the coefficients
print("Coefficients:", selected_coefficients)

# Make predictions on new data (testing set)
predictions = lasso_model.predict(X_test_scaled)

# Calculate accuracy
accuracy = accuracy_score(y_test, predictions)
print("Accuracy:", accuracy)

Optimal value of C: 0.3593813663804626
Coefficients: [[ 0.61326134  0.92644399 -0.70312343  0.10485002 -0.01348494 -0.0944187
   1.20970196  0.17356874  0.34028817  0.39386974  0.4251492   0.08403821
   0.32693386  0.03583604  0.09762013  0.06830617 -0.2013444 ]]
Accuracy: 0.8446258084385587

In [44]:
column_names = X.columns

# Zip together the column names and coefficients
coefficients_with_names = zip(column_names, selected_coefficients[0])

# Print column names with their coefficient values
for name, coef in coefficients_with_names:
    print(f"{name}: {coef}")

Flight Distance: 0.6132613402938718
Inflight wifi service: 0.9264439874818959
Departure/Arrival time convenient: -0.7031234284489354
Ease of Online booking: 0.10485001920202197
Gate location: -0.013484944036433017
Food and drink: -0.0944187029468625
Online boarding: 1.2097019559426279
Seat comfort: 0.17356874419405832
Inflight entertainment: 0.3402881704610016
On-board service: 0.39386974130815505
Leg room service: 0.42514920296236286
Baggage handling: 0.08403821239796232
Checkin service: 0.3269338594272005
Inflight service: 0.035836040959764025
Cleanliness: 0.09762012919195288
Departure Delay in Minutes: 0.06830616855166419
Arrival Delay in Minutes: -0.20134439735799042

In [ ]:
# top five are online boarding, inflight wifi service, flight distance, Departure/Arrival time convenient, leg room service