In [1]:
import pandas as pd

C:\Users\abbyv\AppData\Local\Temp\ipykernel_4268\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
sat = pd.read_csv("satisfaction_2015.csv")
pd.set_option('future.no_silent_downcasting', True)
sat.head()

,id,satisfaction_v2,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,117135,satisfied,Male,disloyal Customer,56,Personal Travel,Eco,369,0,2,...,3,3,1,5,3,3,4,3,0,0.0
1,72091,satisfied,Male,disloyal Customer,49,Personal Travel,Eco,2486,0,2,...,3,2,1,1,4,4,3,2,0,0.0
2,29663,satisfied,Male,disloyal Customer,55,Personal Travel,Eco,1448,0,3,...,3,3,3,5,3,2,3,3,0,0.0
3,81849,satisfied,Female,disloyal Customer,36,Personal Travel,Eco,1501,0,4,...,4,4,5,4,5,5,5,4,0,0.0
4,83693,satisfied,Male,disloyal Customer,55,Personal Travel,Eco,577,0,5,...,3,3,3,4,5,3,4,3,0,0.0

In [3]:
# checking columns for n/a's
sat["satisfaction_v2"].value_counts(dropna = False)

satisfaction_v2
neutral or dissatisfied    73452
satisfied                  56428
Name: count, dtype: int64

In [4]:
sat["Gender"].value_counts(dropna = False)

Gender
Female    65899
Male      63981
Name: count, dtype: int64

In [5]:
sat["Customer Type"].value_counts(dropna = False)

Customer Type
Loyal Customer       106100
disloyal Customer     23780
Name: count, dtype: int64

In [6]:
sat["Age"].describe(include = 'all')

count    129880.000000
mean         39.427957
std          15.119360
min           7.000000
25%          27.000000
50%          40.000000
75%          51.000000
max          85.000000
Name: Age, dtype: float64

In [7]:
sat["Type of Travel"].value_counts(dropna = False)

Type of Travel
Business travel    89693
Personal Travel    40187
Name: count, dtype: int64

In [8]:
sat["Class"].value_counts(dropna = False)

Class
Business    62160
Eco         58309
Eco Plus     9411
Name: count, dtype: int64

In [9]:
sat["Flight Distance"].describe(include = 'all')

count    129880.000000
mean       1190.316392
std         997.452477
min          31.000000
25%         414.000000
50%         844.000000
75%        1744.000000
max        4983.000000
Name: Flight Distance, dtype: float64

In [10]:
sat['Inflight wifi service'] = sat['Inflight wifi service'].replace(0, pd.NA)
median_value = sat['Inflight wifi service'].median()
median_value = int(median_value)
sat['Inflight wifi service'] = sat['Inflight wifi service'].fillna(median_value)
sat["Inflight wifi service"].value_counts(dropna = False)

Inflight wifi service
3    36101
2    32320
4    24775
1    22328
5    14356
Name: count, dtype: int64

In [11]:
sat['Departure/Arrival time convenient'] = sat['Departure/Arrival time convenient'].replace(0, pd.NA)
median_value = sat['Departure/Arrival time convenient'].median()
median_value = int(median_value)
sat['Departure/Arrival time convenient'] = sat['Departure/Arrival time convenient'].fillna(median_value)
sat["Departure/Arrival time convenient"].value_counts(dropna = False)

Departure/Arrival time convenient
4    31880
3    29059
5    27998
2    21534
1    19409
Name: count, dtype: int64

In [12]:
sat['Ease of Online booking'] = sat['Ease of Online booking'].replace(0, pd.NA)
median_value = sat['Ease of Online booking'].median()
median_value = int(median_value)
sat['Ease of Online booking'] = sat['Ease of Online booking'].fillna(median_value)
sat["Ease of Online booking"].value_counts(dropna = False)

Ease of Online booking
3    36075
2    30051
4    24444
1    21886
5    17424
Name: count, dtype: int64

In [13]:
sat['Gate location'] = sat['Gate location'].replace(0, pd.NA)
median_value = sat['Gate location'].median()
median_value = int(median_value)
sat['Gate location'] = sat['Gate location'].fillna(median_value)
sat["Gate location"].value_counts(dropna = False)

Gate location
3    35718
4    30466
2    24296
1    21991
5    17409
Name: count, dtype: int64

In [14]:
sat['Food and drink'] = sat['Food and drink'].replace(0, pd.NA)
median_value = sat['Food and drink'].median()
median_value = int(median_value)
sat['Food and drink'] = sat['Food and drink'].fillna(median_value)
sat["Food and drink"].value_counts(dropna = False)

Food and drink
4    30563
5    27957
3    27926
2    27383
1    16051
Name: count, dtype: int64

In [15]:
sat['Online boarding'] = sat['Online boarding'].replace(0, pd.NA)
median_value = sat['Online boarding'].median()
median_value = int(median_value)
sat['Online boarding'] = sat['Online boarding'].fillna(median_value)
sat["Online boarding"].value_counts(dropna = False)

Online boarding
4    41548
3    27117
5    26020
2    21934
1    13261
Name: count, dtype: int64

In [16]:
sat['Seat comfort'] = sat['Seat comfort'].replace(0, pd.NA)
median_value = sat['Seat comfort'].median()
median_value = int(median_value)
sat['Seat comfort'] = sat['Seat comfort'].fillna(median_value)
sat["Seat comfort"].value_counts(dropna = False)

Seat comfort
4    39757
5    33158
3    23328
2    18529
1    15108
Name: count, dtype: int64

In [17]:
sat['Inflight entertainment'] = sat['Inflight entertainment'].replace(0, pd.NA)
median_value = sat['Inflight entertainment'].median()
median_value = int(median_value)
sat['Inflight entertainment'] = sat['Inflight entertainment'].fillna(median_value)
sat["Inflight entertainment"].value_counts(dropna = False)

Inflight entertainment
4    36809
5    31544
3    23884
2    21968
1    15675
Name: count, dtype: int64

In [18]:
sat['On-board service'] = sat['On-board service'].replace(0, pd.NA)
median_value = sat['On-board service'].median()
median_value = int(median_value)
sat['On-board service'] = sat['On-board service'].fillna(median_value)
sat["On-board service"].value_counts(dropna = False)

On-board service
4    38708
5    29492
3    28542
2    18351
1    14787
Name: count, dtype: int64

In [19]:
sat['Leg room service'] = sat['Leg room service'].replace(0, pd.NA)
median_value = sat['Leg room service'].median()
median_value = int(median_value)
sat['Leg room service'] = sat['Leg room service'].fillna(median_value)
sat["Leg room service"].value_counts(dropna = False)

Leg room service
4    36484
5    30905
3    25056
2    24540
1    12895
Name: count, dtype: int64

In [20]:
sat['Baggage handling'] = sat['Baggage handling'].replace(0, pd.NA)
median_value = sat['Baggage handling'].median()
median_value = int(median_value)
sat['Baggage handling'] = sat['Baggage handling'].fillna(median_value)
sat["Baggage handling"].value_counts(dropna = False)

Baggage handling
4    46761
5    33878
3    25851
2    14362
1     9028
Name: count, dtype: int64

In [21]:
sat['Checkin service'] = sat['Checkin service'].replace(0, pd.NA)
median_value = sat['Checkin service'].median()
median_value = int(median_value)
sat['Checkin service'] = sat['Checkin service'].fillna(median_value)
sat["Checkin service"].value_counts(dropna = False)

Checkin service
4    36333
3    35454
5    25883
1    16108
2    16102
Name: count, dtype: int64

In [22]:
sat['Inflight service'] = sat['Inflight service'].replace(0, pd.NA)
median_value = sat['Inflight service'].median()
median_value = int(median_value)
sat['Inflight service'] = sat['Inflight service'].fillna(median_value)
sat["Inflight service"].value_counts(dropna = False)

Inflight service
4    47328
5    34066
3    25316
2    14308
1     8862
Name: count, dtype: int64

In [23]:
sat['Cleanliness'] = sat['Cleanliness'].replace(0, pd.NA)
median_value = sat['Cleanliness'].median()
median_value = int(median_value)
sat['Cleanliness'] = sat['Cleanliness'].fillna(median_value)
sat["Cleanliness"].value_counts(dropna = False)

Cleanliness
4    33969
3    30653
5    28416
2    20113
1    16729
Name: count, dtype: int64

In [24]:
sat["Departure Delay in Minutes"].describe(include = 'all')

count    129880.000000
mean         14.713713
std          38.071126
min           0.000000
25%           0.000000
50%           0.000000
75%          12.000000
max        1592.000000
Name: Departure Delay in Minutes, dtype: float64

In [25]:
median_value = sat['Arrival Delay in Minutes'].median()
median_value = int(median_value)
sat['Arrival Delay in Minutes'] = sat['Arrival Delay in Minutes'].fillna(median_value)
sat["Arrival Delay in Minutes"].describe(include = 'all')

count    129880.000000
mean         15.045465
std          38.416353
min           0.000000
25%           0.000000
50%           0.000000
75%          13.000000
max        1584.000000
Name: Arrival Delay in Minutes, dtype: float64

In [26]:
sat.head()

,id,satisfaction_v2,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,117135,satisfied,Male,disloyal Customer,56,Personal Travel,Eco,369,3,2,...,3,3,1,5,3,3,4,3,0,0.0
1,72091,satisfied,Male,disloyal Customer,49,Personal Travel,Eco,2486,3,2,...,3,2,1,1,4,4,3,2,0,0.0
2,29663,satisfied,Male,disloyal Customer,55,Personal Travel,Eco,1448,3,3,...,3,3,3,5,3,2,3,3,0,0.0
3,81849,satisfied,Female,disloyal Customer,36,Personal Travel,Eco,1501,3,4,...,4,4,5,4,5,5,5,4,0,0.0
4,83693,satisfied,Male,disloyal Customer,55,Personal Travel,Eco,577,3,5,...,3,3,3,4,5,3,4,3,0,0.0

In [27]:
sat = pd.get_dummies(sat, columns=['Gender'])
sat = pd.get_dummies(sat, columns=['Customer Type'])
sat = pd.get_dummies(sat, columns=['Type of Travel'])
sat = pd.get_dummies(sat, columns=['Class'])

In [28]:
missing_values = sat.isna().sum()

print("Missing values in the DataFrame:")
print(missing_values)

Missing values in the DataFrame:
id                                   0
satisfaction_v2                      0
Age                                  0
Flight Distance                      0
Inflight wifi service                0
Departure/Arrival time convenient    0
Ease of Online booking               0
Gate location                        0
Food and drink                       0
Online boarding                      0
Seat comfort                         0
Inflight entertainment               0
On-board service                     0
Leg room service                     0
Baggage handling                     0
Checkin service                      0
Inflight service                     0
Cleanliness                          0
Departure Delay in Minutes           0
Arrival Delay in Minutes             0
Gender_Female                        0
Gender_Male                          0
Customer Type_Loyal Customer         0
Customer Type_disloyal Customer      0
Type of Travel_Business travel       0
Type of Travel_Personal Travel       0
Class_Business                       0
Class_Eco                            0
Class_Eco Plus                       0
dtype: int64

In [45]:
# Creating a logistic model
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report


# Step 4: Split the dataset into training and testing sets
X = sat.drop('satisfaction_v2', axis=1) # Features
y = sat['satisfaction_v2'] # Target variable
X_train, X_test, y_train, y_test = train_test_split(X, y,  random_state=None)

# Step 5: Create a logistic regression model
model = LogisticRegression()

# Step 6: Train the model on the training data
result = model.fit(X_train, y_train)

# Step 7: Evaluate the model's performance on the testing data
y_pred = model.predict(X_test)

# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

# Get classification report
print(classification_report(y_test, y_pred))

C:\Users\abbyv\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Accuracy: 0.7343085925469665
                         precision    recall  f1-score   support

neutral or dissatisfied       0.81      0.70      0.75     18458
              satisfied       0.66      0.78      0.72     14012

               accuracy                           0.73     32470
              macro avg       0.74      0.74      0.73     32470
           weighted avg       0.75      0.73      0.74     32470

In [40]:
# 1. Coefficients
coefficients = model.coef_
print("Coefficients:", coefficients)

# 2. Intercept
intercept = model.intercept_
print("Intercept:", intercept)

# 3. Model Parameters
params = model.get_params()
print("Model Parameters:", params)

Coefficients: [[-1.60843626e-05 -4.01353168e-02  2.26562467e-04  1.88664097e-01
  -2.11645816e-01  4.76730951e-02 -1.63817427e-01  1.18064376e-03
   3.04219694e-01  1.17339833e-01  1.64200628e-01  9.79002066e-02
   9.28691295e-02  3.26205883e-03  3.39639607e-02 -1.84569004e-03
   8.55831055e-02 -2.18771026e-02  1.23472029e-02 -3.20116711e-02
  -2.37715193e-02  1.70047276e-04 -5.59532376e-02  9.77880191e-02
  -1.53571210e-01  1.29951418e-01 -1.65083969e-01 -2.06506401e-02]]
Intercept: [-0.05578326]
Model Parameters: {'C': 1.0, 'class_weight': None, 'dual': False, 'fit_intercept': True, 'intercept_scaling': 1, 'l1_ratio': None, 'max_iter': 100, 'multi_class': 'auto', 'n_jobs': None, 'penalty': 'l2', 'random_state': None, 'solver': 'lbfgs', 'tol': 0.0001, 'verbose': 0, 'warm_start': False}

In [41]:
import numpy as np
# Get coefficient estimates
coefficients = model.coef_[0]

# Get feature names
feature_names = X_train.columns

# Create a DataFrame to display coefficients
coef_df = pd.DataFrame({'Feature': feature_names, 'Coefficient': coefficients})

# Sort the DataFrame by absolute coefficient values
coef_df['Abs_Coefficient'] = np.abs(coef_df['Coefficient'])

# Display the DataFrame
print(coef_df)

                              Feature  Coefficient  Abs_Coefficient
0                                  id    -0.000016         0.000016
1                                 Age    -0.040135         0.040135
2                     Flight Distance     0.000227         0.000227
3               Inflight wifi service     0.188664         0.188664
4   Departure/Arrival time convenient    -0.211646         0.211646
5              Ease of Online booking     0.047673         0.047673
6                       Gate location    -0.163817         0.163817
7                      Food and drink     0.001181         0.001181
8                     Online boarding     0.304220         0.304220
9                        Seat comfort     0.117340         0.117340
10             Inflight entertainment     0.164201         0.164201
11                   On-board service     0.097900         0.097900
12                   Leg room service     0.092869         0.092869
13                   Baggage handling     0.003262         0.003262
14                    Checkin service     0.033964         0.033964
15                   Inflight service    -0.001846         0.001846
16                        Cleanliness     0.085583         0.085583
17         Departure Delay in Minutes    -0.021877         0.021877
18           Arrival Delay in Minutes     0.012347         0.012347
19                      Gender_Female    -0.032012         0.032012
20                        Gender_Male    -0.023772         0.023772
21       Customer Type_Loyal Customer     0.000170         0.000170
22    Customer Type_disloyal Customer    -0.055953         0.055953
23     Type of Travel_Business travel     0.097788         0.097788
24     Type of Travel_Personal Travel    -0.153571         0.153571
25                     Class_Business     0.129951         0.129951
26                          Class_Eco    -0.165084         0.165084
27                     Class_Eco Plus    -0.020651         0.020651