In [2]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

import seaborn as sns

In [4]:
flight_data  = pd.read_csv('satisfaction_2015.csv')

In [21]:
flight_data.head()

,id,satisfaction_v2,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,117135,satisfied,Male,disloyal Customer,56,Personal Travel,Eco,369,0,2,...,3,3,1,5,3,3,4,3,0,0.0
1,72091,satisfied,Male,disloyal Customer,49,Personal Travel,Eco,2486,0,2,...,3,2,1,1,4,4,3,2,0,0.0
2,29663,satisfied,Male,disloyal Customer,55,Personal Travel,Eco,1448,0,3,...,3,3,3,5,3,2,3,3,0,0.0
3,81849,satisfied,Female,disloyal Customer,36,Personal Travel,Eco,1501,0,4,...,4,4,5,4,5,5,5,4,0,0.0
4,83693,satisfied,Male,disloyal Customer,55,Personal Travel,Eco,577,0,5,...,3,3,3,4,5,3,4,3,0,0.0

In [19]:
flight_data.shape

(129880, 24)

In [17]:
missing_values_per_column = flight_data.isna().sum()
missing_values_per_column

id                                   0
satisfaction_v2                      0
Gender                               0
Customer Type                        0
Age                                  0
Type of Travel                       0
Class                                0
Flight Distance                      0
Inflight wifi service                0
Departure/Arrival time convenient    0
Ease of Online booking               0
Gate location                        0
Food and drink                       0
Online boarding                      0
Seat comfort                         0
Inflight entertainment               0
On-board service                     0
Leg room service                     0
Baggage handling                     0
Checkin service                      0
Inflight service                     0
Cleanliness                          0
Departure Delay in Minutes           0
Arrival Delay in Minutes             0
dtype: int64

In [11]:
# Replacing the NA values of a column with the average of that column
average_column_arrival_delay = flight_data['Arrival Delay in Minutes'].mean()
average_column_arrival_delay
# Replace NaN values in column 'A' with the average of column 'A'
flight_data['Arrival Delay in Minutes'] = flight_data['Arrival Delay in Minutes'].fillna(average_column_arrival_delay)
flight_data.isna().sum()

id                                   0
satisfaction_v2                      0
Gender                               0
Customer Type                        0
Age                                  0
Type of Travel                       0
Class                                0
Flight Distance                      0
Inflight wifi service                0
Departure/Arrival time convenient    0
Ease of Online booking               0
Gate location                        0
Food and drink                       0
Online boarding                      0
Seat comfort                         0
Inflight entertainment               0
On-board service                     0
Leg room service                     0
Baggage handling                     0
Checkin service                      0
Inflight service                     0
Cleanliness                          0
Departure Delay in Minutes           0
Arrival Delay in Minutes             0
dtype: int64

In [12]:
for column in flight_data.columns:
    unique_values = flight_data[column].unique()
    print(f"Unique values in column '{column}': {unique_values}")

Unique values in column 'id': [117135  72091  29663 ...  50316  22333  10198]
Unique values in column 'satisfaction_v2': ['satisfied' 'neutral or dissatisfied']
Unique values in column 'Gender': ['Male' 'Female']
Unique values in column 'Customer Type': ['disloyal Customer' 'Loyal Customer']
Unique values in column 'Age': [56 49 55 36 15 51 26 37 65 18 22 40 14 45 53 35 57 25 10 60 17 68 28 47
 52 34 13 50 64 39 70  8 32 21 67 62 69 63 12 59 27 20 61 30 66 46 54 38
 11  7 24 33  9 23 31 58 19 42 16 29 43 48 44 41 72 71 80 77 85 78 75 79
 74 73 76]
Unique values in column 'Type of Travel': ['Personal Travel' 'Business travel']
Unique values in column 'Class': ['Eco' 'Business' 'Eco Plus']
Unique values in column 'Flight Distance': [ 369 2486 1448 ...  681 3763 3564]
Unique values in column 'Inflight wifi service': [0 1 2 3 4 5]
Unique values in column 'Departure/Arrival time convenient': [2 3 4 5 0 1]
Unique values in column 'Ease of Online booking': [0 1 3 2 5 4]
Unique values in column 'Gate location': [4 3 2 5 1 0]
Unique values in column 'Food and drink': [3 2 4 1 5 0]
Unique values in column 'Online boarding': [0 1 5 3 2 4]
Unique values in column 'Seat comfort': [3 4 1 2 5 0]
Unique values in column 'Inflight entertainment': [3 2 4 1 5 0]
Unique values in column 'On-board service': [1 3 5 2 4 0]
Unique values in column 'Leg room service': [5 1 4 3 2 0]
Unique values in column 'Baggage handling': [3 4 5 2 1]
Unique values in column 'Checkin service': [3 4 2 5 1 0]
Unique values in column 'Inflight service': [4 3 5 2 1 0]
Unique values in column 'Cleanliness': [3 2 4 1 5 0]
Unique values in column 'Departure Delay in Minutes': [   0   20    5   18   14   87   24    1   28    7    3   71    4   37
    2  174   13   11    8    6   15   32   29   50   57   16   31  155
  193   94   65    9   21  185   89   54   69   42   46   35   84   41
   27   39  310   17   30   47   40   34  427   10   19   90   12   68
   93   66   97  151   64  140   23   80  127  158   26   25   72  180
  143  106  178   70   77   60  129   61   38   33   45  244  122   95
  293   44  184  186  145  101  165   98   83  205   62   96  265   52
  201   22   43   67  315  103   58   53   48  231  179  159  108   36
  236  173  115  132   59   49   86  156  120   76  138   82   78   75
   92   51  177  154  232   73  119  110  105   85   74  161  102  162
   99  111  113  148   79  214  164  114  100  226  160  118  306   56
   63  128  124  104  167  209  282  181  116  157   91  219  117   55
  153  139  194  144  238  142  204  794  199   88   81  978  259  243
  136  168  130  313  377  150  218  112  125  202  626  247  137  133
  147  152  134  355  724  196  726  141  279  255  211  192  126  188
  217  166  195  286  163  170  210  135  146  252  176  191  189  240
  327  371  197  519  472  254  454  249  336  288  190  318  358  183
  187  365  314 1592  107  149  290  121  175  338  292  280  223  266
  692  123  270  235  253  131  206  400  172  198  215  328  248  267
  213  109  171  233  291  207  343  222  263  264  352  381  396  389
  579  446  496  423  228 1128  182  273  203  301  296  230  245  225
  570  302  274  208  362  308  229  426  234  220  376  258  294  277
  433  224  256  514  269  251  399  200  169  351  489  437  299  298
  414  448  372  323  246  364  590  332  212  319  241  221  289  271
  469  309  368  250  401  392  337  283  340  326  431  316  227  350
  402  216  459  491  384  447  411  419  383  503  276  295  569  366
  297  285  287  324  378  300  237  921  566  242  239  272  339  652
  312  262  345  331  333  382  499  360  330  359  348  430  275  257
  412  322  398  505  452  278  281  334  951  303  460  260  317  565
  394  357  268  853  729  307  756  748  344  815  388  373  537  370
  930  531  311  463  305  444  480  610  420  342  410  455  429  595
  347  284  438  346  416  530  304  435  933  407  353  404  624  391
 1017  329  363  859  559  450  581  341  415  600 1305  390  321  493
  750  501  465  320]
Unique values in column 'Arrival Delay in Minutes': [0.00000000e+00 2.20000000e+01 4.00000000e+00 1.30000000e+01
 7.00000000e+00 5.00000000e+00 7.50000000e+01 9.00000000e+00
 5.40000000e+01 1.90000000e+01 1.20000000e+01 6.30000000e+01
 1.00000000e+00 3.50000000e+01 1.72000000e+02 8.00000000e+00
 2.30000000e+01 4.90000000e+01 2.50000000e+01 5.20000000e+01
 2.10000000e+01 2.00000000e+00 1.63000000e+02 2.05000000e+02
 8.90000000e+01 7.20000000e+01 3.00000000e+00 2.40000000e+01
 1.86000000e+02 8.40000000e+01 8.80000000e+01 5.10000000e+01
 6.00000000e+01 2.70000000e+01 3.30000000e+01 1.10000000e+01
 5.30000000e+01 7.30000000e+01 4.10000000e+01 1.50000000e+01
 3.70000000e+01 2.00000000e+01 2.60000000e+01 6.00000000e+00
 3.90000000e+01 4.60000000e+01 1.50911288e+01 3.05000000e+02
 4.80000000e+01 4.40000000e+02 4.50000000e+01 6.90000000e+01
 1.00000000e+01 8.00000000e+01 8.60000000e+01 5.70000000e+01
 1.40000000e+01 9.60000000e+01 2.14000000e+02 5.00000000e+01
 1.37000000e+02 1.80000000e+01 1.60000000e+01 1.21000000e+02
 1.70000000e+01 5.90000000e+01 7.60000000e+01 4.40000000e+01
 1.31000000e+02 3.60000000e+01 2.22000000e+02 3.20000000e+01
 2.90000000e+01 2.80000000e+01 6.10000000e+01 1.75000000e+02
 3.80000000e+01 1.42000000e+02 9.00000000e+01 7.40000000e+01
 1.18000000e+02 5.60000000e+01 1.19000000e+02 2.36000000e+02
 1.12000000e+02 6.50000000e+01 9.30000000e+01 3.02000000e+02
 3.40000000e+01 1.24000000e+02 1.95000000e+02 1.36000000e+02
 9.70000000e+01 1.79000000e+02 1.06000000e+02 7.80000000e+01
 1.04000000e+02 2.10000000e+02 1.27000000e+02 8.70000000e+01
 2.45000000e+02 4.20000000e+01 2.08000000e+02 4.00000000e+01
 6.60000000e+01 4.70000000e+01 2.97000000e+02 5.50000000e+01
 1.02000000e+02 1.05000000e+02 2.50000000e+02 1.66000000e+02
 4.30000000e+01 1.38000000e+02 1.60000000e+02 1.07000000e+02
 3.10000000e+01 7.70000000e+01 2.39000000e+02 1.74000000e+02
 3.00000000e+01 1.33000000e+02 6.70000000e+01 7.00000000e+01
 1.68000000e+02 1.80000000e+02 1.22000000e+02 8.30000000e+01
 2.65000000e+02 7.10000000e+01 9.90000000e+01 9.80000000e+01
 6.40000000e+01 1.78000000e+02 1.46000000e+02 2.42000000e+02
 5.80000000e+01 8.10000000e+01 9.10000000e+01 1.48000000e+02
 1.56000000e+02 6.20000000e+01 2.33000000e+02 1.52000000e+02
 1.14000000e+02 1.17000000e+02 1.65000000e+02 2.01000000e+02
 1.77000000e+02 8.50000000e+01 1.62000000e+02 1.10000000e+02
 1.55000000e+02 1.58000000e+02 1.08000000e+02 1.64000000e+02
 6.80000000e+01 2.21000000e+02 1.00000000e+02 1.23000000e+02
 7.90000000e+01 1.03000000e+02 2.99000000e+02 1.11000000e+02
 1.50000000e+02 2.40000000e+02 1.26000000e+02 1.01000000e+02
 1.61000000e+02 2.13000000e+02 8.20000000e+01 1.35000000e+02
 2.86000000e+02 9.50000000e+01 2.24000000e+02 9.20000000e+01
 1.43000000e+02 1.49000000e+02 1.85000000e+02 2.55000000e+02
 2.41000000e+02 1.88000000e+02 7.95000000e+02 1.96000000e+02
 1.20000000e+02 9.70000000e+02 2.56000000e+02 1.71000000e+02
 1.41000000e+02 3.27000000e+02 3.68000000e+02 1.47000000e+02
 9.40000000e+01 2.17000000e+02 1.09000000e+02 1.94000000e+02
 6.04000000e+02 1.30000000e+02 2.44000000e+02 1.13000000e+02
 1.40000000e+02 2.30000000e+02 2.46000000e+02 1.25000000e+02
 1.69000000e+02 3.42000000e+02 1.29000000e+02 7.05000000e+02
 6.91000000e+02 1.28000000e+02 2.52000000e+02 2.58000000e+02
 2.25000000e+02 2.93000000e+02 1.84000000e+02 1.53000000e+02
 1.57000000e+02 1.92000000e+02 1.70000000e+02 1.16000000e+02
 2.90000000e+02 1.15000000e+02 2.27000000e+02 2.53000000e+02
 1.98000000e+02 2.19000000e+02 1.44000000e+02 2.32000000e+02
 3.13000000e+02 3.72000000e+02 1.93000000e+02 1.32000000e+02
 5.16000000e+02 4.46000000e+02 1.34000000e+02 1.90000000e+02
 4.54000000e+02 4.06000000e+02 1.83000000e+02 2.79000000e+02
 1.82000000e+02 3.17000000e+02 2.88000000e+02 3.06000000e+02
 3.54000000e+02 1.73000000e+02 1.91000000e+02 3.83000000e+02
 3.52000000e+02 1.58400000e+03 2.16000000e+02 2.76000000e+02
 1.39000000e+02 3.33000000e+02 2.54000000e+02 1.51000000e+02
 2.91000000e+02 3.55000000e+02 2.15000000e+02 7.02000000e+02
 2.60000000e+02 1.87000000e+02 1.81000000e+02 1.97000000e+02
 2.43000000e+02 1.67000000e+02 4.12000000e+02 1.54000000e+02
 2.09000000e+02 1.99000000e+02 2.03000000e+02 2.20000000e+02
 4.04000000e+02 2.47000000e+02 2.70000000e+02 3.07000000e+02
 1.89000000e+02 2.07000000e+02 1.45000000e+02 1.76000000e+02
 2.77000000e+02 4.58000000e+02 2.28000000e+02 3.38000000e+02
 2.23000000e+02 2.61000000e+02 3.44000000e+02 2.12000000e+02
 1.59000000e+02 3.53000000e+02 4.03000000e+02 2.00000000e+02
 3.78000000e+02 5.61000000e+02 2.26000000e+02 4.31000000e+02
 4.70000000e+02 4.00000000e+02 2.81000000e+02 1.11500000e+03
 2.59000000e+02 3.04000000e+02 3.01000000e+02 2.73000000e+02
 2.35000000e+02 3.58000000e+02 2.04000000e+02 5.67000000e+02
 3.14000000e+02 2.62000000e+02 3.46000000e+02 3.25000000e+02
 2.48000000e+02 3.56000000e+02 3.29000000e+02 2.31000000e+02
 4.27000000e+02 2.29000000e+02 2.06000000e+02 3.82000000e+02
 2.83000000e+02 2.34000000e+02 3.16000000e+02 4.55000000e+02
 6.24000000e+02 2.64000000e+02 4.32000000e+02 3.69000000e+02
 2.51000000e+02 2.37000000e+02 4.91000000e+02 4.29000000e+02
 3.12000000e+02 4.45000000e+02 2.89000000e+02 2.18000000e+02
 3.81000000e+02 6.08000000e+02 4.18000000e+02 3.37000000e+02
 4.17000000e+02 3.57000000e+02 2.38000000e+02 2.11000000e+02
 2.75000000e+02 4.43000000e+02 4.07000000e+02 3.50000000e+02
 4.35000000e+02 4.01000000e+02 2.71000000e+02 3.30000000e+02
 2.94000000e+02 2.67000000e+02 3.41000000e+02 3.11000000e+02
 3.24000000e+02 4.02000000e+02 2.02000000e+02 3.36000000e+02
 3.99000000e+02 2.84000000e+02 2.95000000e+02 3.89000000e+02
 4.85000000e+02 2.74000000e+02 4.33000000e+02 4.25000000e+02
 3.35000000e+02 4.60000000e+02 3.74000000e+02 4.84000000e+02
 2.63000000e+02 5.43000000e+02 3.47000000e+02 3.03000000e+02
 2.85000000e+02 4.22000000e+02 2.78000000e+02 3.91000000e+02
 2.96000000e+02 2.92000000e+02 2.57000000e+02 3.26000000e+02
 3.23000000e+02 4.24000000e+02 9.24000000e+02 6.00000000e+02
 3.19000000e+02 6.38000000e+02 3.92000000e+02 4.73000000e+02
 3.34000000e+02 3.49000000e+02 3.79000000e+02 3.00000000e+02
 4.38000000e+02 3.22000000e+02 2.80000000e+02 4.09000000e+02
 4.59000000e+02 3.20000000e+02 3.77000000e+02 4.86000000e+02
 2.72000000e+02 4.44000000e+02 3.63000000e+02 2.87000000e+02
 3.18000000e+02 2.69000000e+02 3.93000000e+02 9.40000000e+02
 3.15000000e+02 4.57000000e+02 4.20000000e+02 5.86000000e+02
 3.45000000e+02 3.62000000e+02 4.10000000e+02 3.86000000e+02
 3.71000000e+02 8.23000000e+02 7.17000000e+02 7.48000000e+02
 3.88000000e+02 7.20000000e+02 5.07000000e+02 8.22000000e+02
 3.80000000e+02 3.48000000e+02 5.24000000e+02 9.52000000e+02
 2.68000000e+02 3.10000000e+02 5.03000000e+02 3.08000000e+02
 4.34000000e+02 4.71000000e+02 5.93000000e+02 2.82000000e+02
 2.49000000e+02 4.16000000e+02 3.64000000e+02 5.18000000e+02
 5.02000000e+02 2.98000000e+02 3.31000000e+02 3.39000000e+02
 5.89000000e+02 3.59000000e+02 3.85000000e+02 4.36000000e+02
 4.48000000e+02 3.51000000e+02 3.66000000e+02 9.20000000e+02
 3.70000000e+02 4.13000000e+02 6.15000000e+02 1.01100000e+03
 3.95000000e+02 2.66000000e+02 8.60000000e+02 3.97000000e+02
 5.55000000e+02 3.21000000e+02 5.80000000e+02 3.09000000e+02
 4.93000000e+02 1.28000000e+03 3.60000000e+02 7.29000000e+02
 5.00000000e+02]

In [20]:
flight_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129880 entries, 0 to 129879
Data columns (total 24 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   id                                 129880 non-null  int64
 1   satisfaction_v2                    129880 non-null  object
 2   Gender                             129880 non-null  object
 3   Customer Type                      129880 non-null  object
 4   Age                                129880 non-null  int64
 5   Type of Travel                     129880 non-null  object
 6   Class                              129880 non-null  object
 7   Flight Distance                    129880 non-null  int64
 8   Inflight wifi service              129880 non-null  int64
 9   Departure/Arrival time convenient  129880 non-null  int64
 10  Ease of Online booking             129880 non-null  int64
 11  Gate location                      129880 non-null  int64
 12  Food and drink                     129880 non-null  int64
 13  Online boarding                    129880 non-null  int64
 14  Seat comfort                       129880 non-null  int64
 15  Inflight entertainment             129880 non-null  int64
 16  On-board service                   129880 non-null  int64
 17  Leg room service                   129880 non-null  int64
 18  Baggage handling                   129880 non-null  int64
 19  Checkin service                    129880 non-null  int64
 20  Inflight service                   129880 non-null  int64
 21  Cleanliness                        129880 non-null  int64
 22  Departure Delay in Minutes         129880 non-null  int64
 23  Arrival Delay in Minutes           129880 non-null  float64
dtypes: float64(1), int64(18), object(5)
memory usage: 23.8+ MB